<%= form_for @comment, :url=>message_comment_path(@message,@comment),:method=>:patch do |f|%>
<div class="form-group">

<%= f.label :content%>
<%= f.text_area :content, :class =>"form-control" %>
</div>

<div class="form-group">
<%= f.submit :class =>"btn btn-primary" %>
</div>

<%end %>